@import  "../shared/styles/variables";

.login-card-container {
}

.login-card {
  width: 100%;
  border-radius: 0px;
}

.facebook-login-container {
  margin-top: 4px;
  width: 100%;
}

.facebook-login-button {
  color: $facebook-color-text;
  background-color: $facebook-color;
  width: 100%;
  margin: 2px;
}

.fb-icon {
  color: $facebook-color-text;
  filter: brightness(5);
}

.google-login-container {
  width: 100%;
}

.google-login-button {
  color: $google-text-color;
  background-color: $google-color;
  width: 100%;
  margin: 2px;
}

.add-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

mat-form-field {
  width: 100%;
}

.login-button {
  width: 100%;
}

.line {
  border-color: #000;
  border-style: solid;
  border-width: 1px 0 0;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  opacity: 0.12;
}

.login-submit-error {
  color: $error-color;
}

.login-submit-error {
  margin-top: 4px;
}

.link-button {
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
}

.form-submit-container {
  margin-top: 4px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  margin-left: -8px;
}

.toolbar-title {
  margin-left: 8px;
}
